In [51]:
import pandas as pd
from pandas import DataFrame
import re

In [16]:
df=pd.read_csv(open('output.csv'),names=['price','address','suburb','type','date','bed','bath','carpark','link','refer'])

In [17]:
df.head()

,price,address,suburb,type,date,bed,bath,carpark,link,refer
0,"$305,000",516/2 Akuna Street,City,apartment,Sold on 28 Feb 2017,2,1,1,http://www.realestate.com.au/sold/property-apa...,https://www.realestate.com.au/sold/in-2601%3b/...
1,"$510,000",166/15 Coranderrk Street,City,apartment,Sold on 17 Feb 2017,2,1,2,http://www.realestate.com.au/sold/property-apa...,https://www.realestate.com.au/sold/in-2601%3b/...
2,"$1,110,000",1401/19 Marcus Clarke Street,City,apartment,Sold on 15 Feb 2017,2,2,2,http://www.realestate.com.au/sold/property-apa...,https://www.realestate.com.au/sold/in-2601%3b/...
3,"$425,000",31/45 West Row,City,apartment,Sold on 09 Feb 2017,1,1,1,http://www.realestate.com.au/sold/property-apa...,https://www.realestate.com.au/sold/in-2601%3b/...
4,"$420,000",33/45 'Mayfair' West Row,City,unit,Sold on 18 Jan 2017,1,1,1,http://www.realestate.com.au/sold/property-uni...,https://www.realestate.com.au/sold/in-2601%3b/...

In [29]:
df_house=df[df['type']=='house']
df_house=df_house[df_house['price']!='Contact agent']

In [31]:
df_unit=df[df['type']=='unit']
df_unit=df_unit[df_unit['price']!='Contact agent']

In [32]:
df_apartment=df[df['type']=='apartment']
df_apartment=df_apartment[df_apartment['price']!='Contact agent']

In [33]:
print(df_house.count())
print(df_unit.count())
print(df_apartment.count())

price      23225
address    23225
suburb     23225
type       23225
date       23225
bed        23225
bath       23225
carpark    23225
link       23225
refer      23225
dtype: int64
price      822
address    822
suburb     822
type       822
date       822
bed        822
bath       822
carpark    822
link       822
refer      822
dtype: int64
price      2196
address    2196
suburb     2196
type       2196
date       2196
bed        2196
bath       2196
carpark    2196
link       2196
refer      2196
dtype: int64

In [48]:
text=df_house['date'][22]

In [49]:
type(text)

str

In [50]:
text

'Sold on 03 Mar 2017'

In [52]:
pattern=re.compile(r'\d+.*')

In [53]:
r=pattern.search(text)

In [54]:
r.groups()

()

In [55]:
r.group()

'03 Mar 2017'

In [56]:
t=r.group()

In [57]:
t

'03 Mar 2017'

In [61]:
import datetime
import time

In [60]:
help(datetime.datetime)

Help on class datetime in module datetime:

class datetime(date)
 |  datetime(year, month, day[, hour[, minute[, second[, microsecond[,tzinfo]]]]])
 |
 |  The year, month and day arguments are required. tzinfo may be None, or an
 |  instance of a tzinfo subclass. The remaining arguments may be ints.
 |
 |  Method resolution order:
 |      datetime
 |      date
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __reduce__(...)
 |      __reduce__() -> (cls, state)
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  astimezone(...)
 |      tz -> convert to local time in new timezone tz
 |
 |  combine(...) from builtins.type
 |      date, time -> datetime with same date and time fields
 |
 |  ctime(...)
 |      Return ctime() style string.
 |
 |  date(...)
 |      Return date object with same year, month and day.
 |
 |  dst(...)
 |      Return self.tzinfo.dst(self).
 |
 |  fromtimestamp(...) from builtins.type
 |      timestamp[, tz] -> tz's local time from POSIX timestamp.
 |
 |  isoformat(...)
 |      [sep] -> string in ISO 8601 format, YYYY-MM-DDTHH:MM:SS[.mmmmmm][+HH:MM].
 |
 |      sep is used to separate the year from the time, and defaults to 'T'.
 |
 |  now(tz=None) from builtins.type
 |      Returns new datetime object representing current time local to tz.
 |
 |        tz
 |          Timezone object.
 |
 |      If no tz is specified, uses local timezone.
 |
 |  replace(...)
 |      Return datetime with new specified fields.
 |
 |  strptime(...) from builtins.type
 |      string, format -> new datetime parsed from a string (like time.strptime()).
 |
 |  time(...)
 |      Return time object with same time but with tzinfo=None.
 |
 |  timestamp(...)
 |      Return POSIX timestamp as float.
 |
 |  timetuple(...)
 |      Return time tuple, compatible with time.localtime().
 |
 |  timetz(...)
 |      Return time object with same time and tzinfo.
 |
 |  tzname(...)
 |      Return self.tzinfo.tzname(self).
 |
 |  utcfromtimestamp(...) from builtins.type
 |      Construct a naive UTC datetime from a POSIX timestamp.
 |
 |  utcnow(...) from builtins.type
 |      Return a new datetime representing UTC day and time.
 |
 |  utcoffset(...)
 |      Return self.tzinfo.utcoffset(self).
 |
 |  utctimetuple(...)
 |      Return UTC time tuple, compatible with time.localtime().
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  hour
 |
 |  microsecond
 |
 |  minute
 |
 |  second
 |
 |  tzinfo
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  max = datetime.datetime(9999, 12, 31, 23, 59, 59, 999999)
 |
 |  min = datetime.datetime(1, 1, 1, 0, 0)
 |
 |  resolution = datetime.timedelta(0, 0, 1)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from date:
 |
 |  __format__(...)
 |      Formats self with strftime.
 |
 |  fromordinal(...) from builtins.type
 |      int -> date corresponding to a proleptic Gregorian ordinal.
 |
 |  isocalendar(...)
 |      Return a 3-tuple containing ISO year, week number, and weekday.
 |
 |  isoweekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 1 ... Sunday == 7
 |
 |  strftime(...)
 |      format -> strftime() style string.
 |
 |  today(...) from builtins.type
 |      Current date or datetime:  same as self.__class__.fromtimestamp(time.time()).
 |
 |  toordinal(...)
 |      Return proleptic Gregorian ordinal.  January 1 of year 1 is day 1.
 |
 |  weekday(...)
 |      Return the day of the week represented by the date.
 |      Monday == 0 ... Sunday == 6
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from date:
 |
 |  day
 |
 |  month
 |
 |  year

In [62]:
help(time.strptime)

Help on built-in function strptime in module time:

strptime(...)
    strptime(string, format) -> struct_time

    Parse a string to a time tuple according to a format specification.
    See the library reference manual for formatting codes (same as
    strftime()).

    Commonly used format codes:

    %Y  Year with century as a decimal number.
    %m  Month as a decimal number [01,12].
    %d  Day of the month as a decimal number [01,31].
    %H  Hour (24-hour clock) as a decimal number [00,23].
    %M  Minute as a decimal number [00,59].
    %S  Second as a decimal number [00,61].
    %z  Time zone offset from UTC.
    %a  Locale's abbreviated weekday name.
    %A  Locale's full weekday name.
    %b  Locale's abbreviated month name.
    %B  Locale's full month name.
    %c  Locale's appropriate date and time representation.
    %I  Hour (12-hour clock) as a decimal number [01,12].
    %p  Locale's equivalent of either AM or PM.

    Other codes may be available on your platform.  See documentation for
    the C library strftime function.

In [65]:
t_split=t.split(' ')

In [75]:
t1=time.strptime('3 3 2017'(%d %m %Y)

SyntaxError: invalid syntax (<ipython-input-75-d846494d41a4>, line 1)