In [70]:
import pandas as pd
from pandas import DataFrame
import re
import time

In [71]:
df=pd.read_csv(open('output.csv'),names=['price','address','suburb','type','date','bed','bath','carpark','link','refer'])

In [72]:
df.head()

,price,address,suburb,type,date,bed,bath,carpark,link,refer
0,"$305,000",516/2 Akuna Street,City,apartment,Sold on 28 Feb 2017,2,1,1,http://www.realestate.com.au/sold/property-apa...,https://www.realestate.com.au/sold/in-2601%3b/...
1,"$510,000",166/15 Coranderrk Street,City,apartment,Sold on 17 Feb 2017,2,1,2,http://www.realestate.com.au/sold/property-apa...,https://www.realestate.com.au/sold/in-2601%3b/...
2,"$1,110,000",1401/19 Marcus Clarke Street,City,apartment,Sold on 15 Feb 2017,2,2,2,http://www.realestate.com.au/sold/property-apa...,https://www.realestate.com.au/sold/in-2601%3b/...
3,"$425,000",31/45 West Row,City,apartment,Sold on 09 Feb 2017,1,1,1,http://www.realestate.com.au/sold/property-apa...,https://www.realestate.com.au/sold/in-2601%3b/...
4,"$420,000",33/45 'Mayfair' West Row,City,unit,Sold on 18 Jan 2017,1,1,1,http://www.realestate.com.au/sold/property-uni...,https://www.realestate.com.au/sold/in-2601%3b/...

In [76]:
df['price']

0                          $305,000
1                          $510,000
2                        $1,110,000
3                          $425,000
4                          $420,000
5                          $800,000
6                          $440,000
7                          $380,000
8                          $455,900
9                          $400,000
10                         $464,000
11                         $749,000
12                         $580,000
13                         $475,000
14                         $625,000
15                       $1,550,000
16                         $567,500
17                         $470,000
18                         $645,000
19                         $585,000
20                         $750,000
21                         $647,000
22                       $1,175,000
23                       $1,700,000
24                         $991,000
25                       $1,125,000
26                         $423,000
27                         $428,000
28                         $408,000
29                       $1,450,000
                    ...
36756                   b'$950,000'
36757                   b'$993,000'
36758                 Contact agent
36759                   b'$685,000'
36760                   b'$610,000'
36761                   b'$620,000'
36762                   b'$679,950'
36763                   b'$605,000'
36764                   b'$638,000'
36765    Range: $635,000 - $740,000
36766                   b'$668,000'
36767                   b'$835,000'
36768                   b'$750,000'
36769                   b'$672,000'
36770                   b'$635,000'
36771                   b'$650,000'
36772                   b'$690,000'
36773                   b'$641,000'
36774                 Contact agent
36775                 Contact agent
36776                   b'$699,000'
36777                   b'$640,000'
36778                   b'$820,000'
36779                 Contact agent
36780                 Contact agent
36781                   b'$712,000'
36782                   b'$607,250'
36783                   b'$600,000'
36784                 Contact agent
36785                   b'$800,000'
Name: price, dtype: object

In [ ]:
def remove_dumy_price_item(row):
    price=row['price']

In [73]:
df_house=df[df['type']=='house']
df_house=df_house[df_house['price']!='Contact agent']
df_house=df_house[not df_house['price'].startswith('Range:')]

AttributeError: 'Series' object has no attribute 'startswith'

In [ ]:
def convert_price_to_number(row):
    price=row['price']
    price=price.strip('b')
    price=price.replace("'","")
    price=price.replace(',','')
    price=price.strip('$')
    return int(price)

In [ ]:
df_house['price_int']=df_house.apply(convert_price_to_number,axis=1)

In [ ]:
t='Range: $80000 - $100000'

In [ ]:
t.startswith('Range:')

In [ ]:
df_unit=df[df['type']=='unit']
df_unit=df_unit[df_unit['price']!='Contact agent']

In [ ]:
df_apartment=df[df['type']=='apartment']
df_apartment=df_apartment[df_apartment['price']!='Contact agent']

In [ ]:
print(df_house.count())
print(df_unit.count())
print(df_apartment.count())

In [ ]:
def return_date_from_df(x):
    pattern=re.compile(r'\d+.*')
    r=pattern.search(x['date'])
    if r:
        str_date=r.group()
        t=time.strptime(str_date,'%d %b %Y')
        return t
    else:
        return 'n/a'

In [ ]:
df_house['sold_date']=df_house.apply(lambda row:return_date_from_df(row),axis=1)

In [ ]:
df_house.head()

In [ ]:
df_house['month']=df_house.apply(lambda row:row['sold_date'][1],axis=1)

In [ ]:
df_house.head()

In [ ]:
df_house_dec=df_house[df_house['month']==12]

In [ ]:
df_house_dec.head()