In [1]:
import pandas as pd
from pivottablejs import pivot_ui

In [13]:
df=pd.read_csv("2009-2059_ACT_Population.csv")

In [14]:
df.head()

,Sex,Age,Estimated 1971,Estimated 1972,Estimated 1973,Estimated 1974,Estimated 1975,Estimated 1976,Estimated 1977,Estimated 1978,...,Projected 2050,Projected 2051,Projected 2052,Projected 2053,Projected 2054,Projected 2055,Projected 2056,Projected 2057,Projected 2058,Projected 2059
0,Persons,0,3833,4049,4026,4280,4255,4157,4381,4300,...,6124,6142,6156,6165,6172,6176,6179,6182,6184,6188
1,Persons,1,3655,3983,4310,4292,4562,4378,4197,4395,...,6116,6139,6157,6171,6180,6187,6191,6194,6197,6199
2,Persons,2,3478,3789,4265,4592,4553,4803,4412,4221,...,6110,6138,6161,6179,6193,6202,6209,6213,6216,6219
3,Persons,3,3324,3583,4036,4533,4838,4739,4794,4427,...,6093,6127,6155,6178,6196,6210,6219,6226,6230,6233
4,Persons,4,3227,3420,3794,4260,4766,5033,4758,4765,...,6068,6107,6141,6169,6192,6210,6224,6233,6240,6244

In [17]:
pivot_ui(df)