In [1]:
from pivottablejs import pivot_ui
import pandas as pd

In [5]:
df=pd.read_csv('/home/jun/git/code/Cyclist_Crashes.csv')

In [6]:
df.head()

,CRASH_ID,CRASH_DATE,CRASH_TIME,SEVERITY,CRASH_TYPE,CYCLISTS,CYCLIST_CASUALTIES,REPORTED_LOCATION,LATITUDE,LONGITUDE,LOCATION_1
0,1034637,14 May 2012,12:37,Injury,Collision with parked vehicle,1,1,CAPITAL CIRCLE (COMMONWEALTH/COMMSPARLERM -> C...,-35.304932,149.125419,"(-35.304932, 149.125419)"
1,1055714,20 February 2013,07:57,Injury,Right turn into oncoming vehicle,1,1,MORPHETT/NORTHBOURNE INTERSECTION,-35.253575,149.133358,"(-35.253575, 149.133358)"
2,1083381,17 March 2014,07:30,Injury,Same direction side swipe,1,1,BUNDA/NORTHBOURNE/RUDD INTERSECTION,-35.277135,149.129453,"(-35.277135, 149.129453)"
3,1025046,04 January 2012,08:50,Property Damage Only,Other - Vehicle to Vehicle,1,0,BARRY/COOYONG/NORTHBOURNE INTERSECTION,-35.275784,149.129771,"(-35.275784, 149.129771)"
4,1107433,07 April 2015,08:05,Property Damage Only,Other - Vehicle to Vehicle,1,0,NORTHBOURNE AVENUE (MORPHETT -> MURDOCH),-35.252917,149.133364,"(-35.252917, 149.133364)"

In [7]:
pivot_ui(df)