In [1]:
import requests
import pandas as pd

In [2]:
r=requests.get('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')

r is response

In [9]:
print(r.headers)
print(r.text[:100])

{'Content-Length': '4551', 'Date': 'Wed, 01 Feb 2017 09:09:13 GMT', 'Server': 'Apache/2.2.15 (CentOS)', 'ETag': '"22e9fc8d-11c7-2996b79a79ec0"', 'Last-Modified': 'Tue, 09 Mar 1993 00:27:15 GMT', 'Connection': 'close', 'Accept-Ranges': 'bytes', 'Content-Type': 'text/plain; charset=UTF-8'}
5.1,3.5,1.4,0.2,Iris-setosa
4.9,3.0,1.4,0.2,Iris-setosa
4.7,3.2,1.3,0.2,Iris-setosa
4.6,3.1,1.5,0.2,

In [10]:
with open('iris.data','w') as fp:
    fp.write(r.text)

In [17]:
df=pd.read_csv('iris.data',names=['sepal length', 'sepal width', 'petal length', 'petal width', 'class'])

In [20]:
df.head()

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [21]:
df['sepal length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal length, dtype: float64

Another way that we can perform this data slicing is to use theÂ .ix[row,column] notation. Let's select the first two columns and first four rows using this notation.
:3 means 0 to 3

In [23]:
df.ix[:3,1]

0    3.5
1    3.0
2    3.2
3    3.1
Name: sepal width, dtype: float64

In [24]:
df[(df['class']=='Iris-setosa') & (df['sepal width']>3.5)]

    sepal length  sepal width  petal length  petal width        class
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
21           5.1          3.7           1.5          0.4  Iris-setosa
22           4.6          3.6           1.0          0.2  Iris-setosa
32           5.2          4.1           1.5          0.1  Iris-setosa
33           5.5          4.2           1.4          0.2  Iris-setosa
44           5.1          3.8           1.9          0.4  Iris-setosa
46           5.1          3.8           1.6          0.2  Iris-setosa
48           5.3          3.7           1.5          0.2  Iris-setosa

In [25]:
df[(df['class']=='Iris-setosa') & (df['sepal width']>3.5)].describe()

       sepal length  sepal width  petal length  petal width
count     15.000000    15.000000     15.000000    15.000000
mean       5.293333     3.866667      1.480000     0.273333
std        0.315021     0.225726      0.214476     0.103280
min        4.600000     3.600000      1.000000     0.100000
25%        5.100000     3.700000      1.400000     0.200000
50%        5.300000     3.800000      1.500000     0.200000
75%        5.450000     3.950000      1.550000     0.400000
max        5.800000     4.400000      1.900000     0.400000

In [26]:
df.corr()

              sepal length  sepal width  petal length  petal width
sepal length      1.000000    -0.109369      0.871754     0.817954
sepal width      -0.109369     1.000000     -0.420516    -0.356544
petal length      0.871754    -0.420516      1.000000     0.962757
petal width       0.817954    -0.356544      0.962757     1.000000